<!DOCTYPE html>
<html>
<script src="../lib/js/angular.min.js"></script>
<script src="../lib/js/angular-route.min.js"></script> 
<script src="../lib/js/angular-animate.min.js" ></script>
<script src="../lib/js/toaster.js"></script>
<script src="index.controller.js"></script>
<script src="../lib/js/cookieGet.js"></script>
<script src="../lib/js/eraseCookieFromAllPaths.js"></script>

<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*">
	<meta charset="utf-8"/>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
	<!-- The main CSS file -->
	<link rel="stylesheet" type="text/css" href="../lib/css/style.css">
	<link rel="stylesheet" href="../lib/css/font-awesome.min.css">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>Small Talk Chat</title>
	<link rel="SHORTCUT ICON" href="../lib/img/simplechat.ico" />
	<link rel="icon" href="../lib/img/simplechat.ico" type="image/ico" />
</head>
<body ng-app="scopeRegistration" onload="adjust_iframe(document.getElementById('iframeid'));">

	<toaster-container 
	toaster-options="{'time-out': 3000, 
   'position-class': 'toast-top-full-width','close-button':false}">
    </toaster-container>

<form name="regForm" ng-submit="vm.register()" role="form">
	<div ng-controller="RegController">
		<table class= "nobackgroundtable" style="border: 1px solid #55B460;">
			<col width="60px">
			<col width="540px">
			<tbody>
				<tr>
					<td style="padding-left: 18px; height: 40px; background-color: #55B460;"">
						<img src="../lib/img/logo.png">
					</td>
					<td style="height: 40px">
						<header>Small Talk Chat</header>
					</td>
				</tr>
				<tr>
					<td style="height:100%; vertical-align:top;">
						<nav class="{{active}}" ng-click="$event.preventDefault()">     
							<!-- When a link in the menu is clicked, we set the active variable -->
							<a href="#" ng-click="iframeurl='../news/news.view.html'; active='news'" class="news">
								<i class="fa fa-newspaper-o fa-2x" aria-hidden="true" title="News Feed" ></i></a>
							<a href="#" ng-click="iframeurl='../messages/messages.view.html'; active='messages'" class="messages">
								<i class="fa fa-comments-o fa-2x" aria-hidden="true" title="Messages" ></i></a>
							<a href="#" ng-click="iframeurl='../friends/friends.view.html'; active='friends'" class="friends">
								<i class="fa fa-address-book-o fa-2x" aria-hidden="true" title="Friends" ></i></a>
							<a href="#" ng-click="iframeurl='../account/account.view.html'; active='account'" class="account">
								<i class="fa fa-cog fa-2x" aria-hidden="true" title="My Account"></i></a>
							<a href="#" ng-click="iframeurl='../about/about.html'; active='about'" class="about">
								<i class="fa fa-question fa-2x" aria-hidden="true" title="Email me"></i></a>
							<a href="#" ng-click='logout()' class="logout">
								<i class="fa fa-sign-out fa-2x" aria-hidden="true" title="Logout"></i></a>
							</nav>
					</td>
					<td style="height:100%; vertical-align:top;">
						<iframe id="iframeid" ng-src="{{iframeurl}}" frameBorder="0" width="100%">
				  			<p>Your browser does not support iframes</p>
						</iframe>
					</td>
				</tr>
			</tbody>	
		</table>
	</div>
</form>
</body>
</html>