<!DOCTYPE html>
<html>

<script src="../lib/js/angular.min.js"></script>
<script src="../lib/js/angular-resource.min.js"></script>
<script src="../lib/js/angular-animate.min.js" ></script>
<script src="../lib/js/toaster.js"></script>
<script src="../lib/js/ng-file-upload.min.js"></script>
<script src="../lib/js/ng-file-upload-shim.min.js"></script>
<script src="../lib/js/angular-sanitize.min.js"></script>
<script src="messages.controller.js"></script>
<script src="../lib/js/cookieGet.js"></script>

<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*">
	<meta charset="utf-8"/>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
	<link rel="stylesheet" href="../lib/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../lib/css/style.css">
</head>
	
<body ng-app="myAppName">

    <toaster-container 
    toaster-options="{'time-out': 3000, 
    'position-class': 'toast-top-full-width','close-button':false}">
    </toaster-container>
    
<div ng-controller="ContactController" class = "class-to-center">
	<br>
	<div style="float:left; width:23%;">
		<b>Friends</b>
		<br>
		<input type="text" id="searchForFriends" placeholder="Search for Friend" ng-model="searchForFriend" style = "width:96%;">
		<hr>
		<div ng-show="!contacts.length">
			<br>You have no friends... Sorry...
		</div>  
		<div style="overflow-y: hidden; overflow-x: hidden; height: 100%">
			<table class="backgroundtable">
				<tbody>
					<tr ng-repeat="contact in contacts | filter:searchForFriend">
					    <td align="left">
					    	<a href="#" ng-click="viewMesseges(contact.id_related_user, contact.first_name, contact.last_name)">
					    		<div ng-show = "contact.avatar.length">
									<img src="{{contact.avatar}}" style="padding-top: 2px;">
								</div>
								<div ng-show = "!contact.avatar.length">
									<img src="../lib/img/anonimous.png" style="padding-top: 2px;"> 
								</div>
					    	</a>
					    </td>
					    <td>
					    	<a href="#" ng-click="viewMesseges(contact.id_related_user, contact.first_name, contact.last_name)">
					    		{{ contact.first_name }} {{ contact.last_name }}
					    		<br>
					    		{{contact.email}}
					    	</a>
					    </td>
					    <td>
					        <a href="#" ng-click="ignoreFriend(contact.id_related_user)">
							   	<i class="fa fa-lock fa" aria-hidden="true" title="Ignore"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
	</div>
	
	<div style="float:left; width:2%;">
	</div>
	 
	<div id="dialogForm" style="float:right; width:75%;">
		<b>{{dialogWithFriend}}</b>
		<div ng-show="hiddenFriendId != null" ng-keydown="down($event)" style="height:62px">
			<table class="nobackgroundtable">
				<tr>
					<th rowspan="2">
						<textarea id="messageText" placeholder="Input your message here. Use Ctrl + Enter to send your message" cols="40" rows="3" my-maxlength="3" ng-model="messageText" style="width: 99%; height: 55px;"></textarea>
					</th>
				</tr>
				<tr>
					<td>
						<a href="#" ng-click="sendMessage()">
				        	<i class="fa fa-paper-plane fa" aria-hidden="true" title="Send Message"></i>
				        </a>
						<br>	
						<a href="#" ng-click="uploadFile()">
				        	<i class="fa fa-upload fa" aria-hidden="true" title="Upload"></i>
				        </a>
				    	<br>
				    	<a href="#" ng-click="search()">
				        	<i class="fa fa-search fa" aria-hidden="true" title="Search"></i>
				        </a>
				    </td>
				</tr>
			</table>
			<valid>{{sendMessageValid}}</valid>
			<p hidden>{{hiddenFriendId}}</p>
		</div>
		<div id="refreshForm" ng-show="autoRefeshStatus.length">
			<error>{{autoRefeshStatus}}</error>  
			<input type="button" ng-click='autoRefresh()' value="Start refreshing" class="btn"/>
		</div>
		
		<div ng-show="hiddenFriendId != null && showFileUpload == true">
			<br>
			<table class="sendFile" style="overflow-y: auto; overflow-x: hidden; height:60px; width:100%;">
				<tbody style="vertical-align: top;">
					<tr>
					    <td>
							<div 
							width = "100%"
							ngf-select="" 
							ngf-drop="" 
							ng-model="files" 
							class="drop-box"
							ngf-drag-over-class="{ accept:'dragover', reject:'dragover-err', delay:100}"  
							ngf-multiple="true" ngf-allow-dir="false"
							ngf-max-size="10MB" ngf-max-files="10" 
							accept="image/*,application/pdf" 
							ngf-pattern="'image/*,application/pdf'">
								Click here <b>OR</b> drag&drop pdfs or images
							</div>
					    	<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
					    
							<div ng-show="files.length>0">
						   		<div ng-repeat="f in files"> 
						   			<progressbar ng-show = "f.progressPercentage < 100"> 
						   				<bar style="width:{{f.progressPercentage}}%;">
						   					Upload: {{f.name | limitTo:50 }} {{f.$error}} {{f.$errorParam}} - {{ f.progressPercentage }}% completed
						  				</bar>
						  			</progressbar>
						  		</div>
					    	</div>
					    </td>
				    </tr>
				</tbody>
			</table>
			<br>
		</div>
		
		<div ng-show="hiddenFriendId != null && showSearchPanel == true">
			<table class="sendFile" style="height:40px; width:100%;">
				<tbody>
					<tr>
					    <td>
							<input id="searchForMessage" type="text" placeholder="Search for Message" ng-model="searchForMessage" 
							style = "width: 100%; box-sizing: border-box;">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div ng-show="hiddenFriendId != null">
			<hr>
			<div style="height: 340px; overflow-y:auto">
				<table class="dialogtable">
					<tbody style="overflow-y: auto;">
						<tr ng-repeat="message in messages | filter:searchForMessage">
						    <td align="left" ng-class='{sent :message.id_user_sent != hiddenFriendId, recieved: message.id_user_sent == hiddenFriendId}'>
						    	<div ng-show="message.message !=null" ng-bind-html="emoji(message.message)">
						    	</div>
								<div ng-show="message.is_image == 0">
									<a href="#" ng-click="downloadFile(message.id_message)">
										&#x21e9 {{ message.image_name }} ({{ message.image_length }} KB)
									</a>
								</div>
								<div ng-show="message.is_image == 1">
									<div class="content">
									<a href="#" ng-click="downloadFile(message.id_message)" class="b-link-stripe b-animate-go  thickbox">
										<!-- <img data-ng-src="data:image/{{message.image_resolution}};base64,{{message.image_preview}}"/> -->
										<img data-ng-src="data:image/{{message.image_resolution}};base64,{{message.image_preview}}" style="margin-left: 63px;"/>
										<div class="b-wrapper-small">
											<div class="b-animate b-from-left    b-delay03 " ng-style="message.id_user_sent != hiddenFriendId ? {'background-color':'#cfebd2'} : {'background-color':'rgba(149, 234, 255, 0.52)'}">
												<i></i>
											</div>
										</div>
									</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div ng-show="!messages.length">
									You have no messages yet...<br>
								</div>
								<p hidden>{{hiddenFriendId}}</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>	
</div>
</body>
</html>