<!DOCTYPE html>
<html>
<script src="../lib/js/angular.min.js"></script>
<script src="../lib/js/angular-animate.min.js" ></script>
<script src="../lib/js/toaster.js"></script>   
<script src="account.controller.js"></script>
<script src="../lib/js/cookieGet.js"></script>
<script src="../lib/js/eraseCookieFromAllPaths.js"></script>
<script src="../lib/js/ng-img-crop.js"></script>
<script src="../lib/js/ng-file-upload.min.js"></script>
<script src="../lib/js/ng-file-upload-shim.min.js"></script>

<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*");>
<link rel="stylesheet" type="text/css" href="../lib/css/style.css">
<link rel="stylesheet" href="../lib/css/font-awesome.min.css">
<title>Registration</title>
</head>

<body ng-app="scopeRegistration" ng-init="enableCrop=true">

	<toaster-container 
    toaster-options="{'time-out': 3000, 
    'position-class': 'toast-top-full-width','close-button':false}">
    </toaster-container>

<form name="regForm" ng-submit="vm.register()" role="form">
	<div ng-controller="RegController" style="overflow-y: auto;">
	<br>
	<div ng-keydown="$event.which === 13  && resetName()">
		<table class= "nobackgroundtable">
			<col width="170px">
			<col width="20px">
			<col width="410px">
			<tbody>
				<tr>
					<td>
						<headertext>Account Data</headertext>
					</td>
					<td>
					</td>
					<td rowspan="12" style="vertical-align: baseline;">
						<headertext>Upload New Avatar</headertext><br>
						<form ng-show="enableCrop">
						    <a href="#" id="uploadAvatar" ng-click='uploadAvatar(resImageDataURI)' class="btnicon" ng-show = "resImageDataURI!='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAV0lEQVRYR+3SsQ0AMAgEMdh/aYZwQ3HpT0LO7zx/+/y+6UD9oQQTVAHt22CCKqB9G0xQBbRvgwmqgPZtMEEV0L4NJqgC2rfBBFVA+zaYoApo3wYTVAHtDxz6ACmSkz/0AAAAAElFTkSuQmCC'">
								<i class="fa fa-upload fa-2x" aria-hidden="true" title="Save New Avatar"></i>
							</a>
							<a href="#" id="resetAvatar" ng-click="imageDataURI=''" class="btnicon" ng-show = "resImageDataURI!='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAV0lEQVRYR+3SsQ0AMAgEMdh/aYZwQ3HpT0LO7zx/+/y+6UD9oQQTVAHt22CCKqB9G0xQBbRvgwmqgPZtMEEV0L4NJqgC2rfBBFVA+zaYoApo3wYTVAHtDxz6ACmSkz/0AAAAAElFTkSuQmCC'">
								<i class="fa fa-ban fa-2x" aria-hidden="true" title="Keep Old Avatar"></i>
							</a>
							<a href="#" id="uploadFile" onclick="document.getElementById('fileInput').click();"  class="btnicon"/>
								<i class="fa fa-refresh fa-2x" aria-hidden="true" title="Upload New Avatar"></i>
							</a>
							<br>
							<br>
							<div ng-if="enableCrop" class="cropArea" ng-class="{'big':size=='big', 'medium':size=='medium', 'small':size=='small'}">
								<img-crop image="imageDataURI"
						        result-image="$parent.resImageDataURI"
						        change-on-fly=true
						        area-type="square"
						        area-min-size="selMinSize"
						        result-image-format="image/png"
							    result-image-quality="1"
							    result-image-size="resImgSize"
							    on-change="onChange($dataURI)"
							    on-load-begin="onLoadBegin()"
							    on-load-done="onLoadDone()"
							    on-load-error="onLoadError()"
							    ></img-crop>
							    <!--aspect-ratio="aspectRatio"-->
						 	</div>
						 	<input type="file" id="fileInput" style="display: none; width: 1px;"/>
						</form>
					</td>
				</tr>
				<tr>
					<td>
						<div ng-show = "avatar.length && resImageDataURI=='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAV0lEQVRYR+3SsQ0AMAgEMdh/aYZwQ3HpT0LO7zx/+/y+6UD9oQQTVAHt22CCKqB9G0xQBbRvgwmqgPZtMEEV0L4NJqgC2rfBBFVA+zaYoApo3wYTVAHtDxz6ACmSkz/0AAAAAElFTkSuQmCC'">
							<img src="{{avatar}}">
						</div>
						<div ng-show = "!avatar.length && resImageDataURI=='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAV0lEQVRYR+3SsQ0AMAgEMdh/aYZwQ3HpT0LO7zx/+/y+6UD9oQQTVAHt22CCKqB9G0xQBbRvgwmqgPZtMEEV0L4NJqgC2rfBBFVA+zaYoApo3wYTVAHtDxz6ACmSkz/0AAAAAElFTkSuQmCC'">
							<img src="../lib/img/anonimous.png">
						</div>
						<div ng-show = "resImageDataURI!='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAV0lEQVRYR+3SsQ0AMAgEMdh/aYZwQ3HpT0LO7zx/+/y+6UD9oQQTVAHt22CCKqB9G0xQBbRvgwmqgPZtMEEV0L4NJqgC2rfBBFVA+zaYoApo3wYTVAHtDxz6ACmSkz/0AAAAAElFTkSuQmCC'">
							<img ng-src="{{resImageDataURI}}"/>
							
						</div>
						<br><b>E-mail: {{email}}</b>
					</td>
				</tr>
				<tr>
					<td align="left">
						<span ng-show="focused1">First Name:<br></span>
						<input type="field" id="fname" name="fname" ng-model="fname" ng-minlength="1" 
						ng-blur="focused1 = false" ng-focus="focused1 = true" ng-maxlength="45" required>
						<span ng-show="focused1 && !regForm.fname.$valid"><error>Please add First Name</error></span>
						<span ng-show="focused1 && regForm.fname.$error.maxlength"><error>First name is too long</error></span>
					</td>
					<td align="left">
						<span ng-show="regForm.fname.$touched && regForm.fname.$valid"><valid>&#10004;</valid></span>
						<span ng-show="regForm.fname.$touched && !regForm.fname.$valid"><error>&#10060;</error></span>
					</td>
				</tr>
				<tr>
					<td align="left">
						<span ng-show="focused2">Last Name:<br></span>
						<input type="field" id ="lname" name="lname" ng-model="lname" ng-minlength="1" 
						ng-blur="focused2 = false" ng-focus="focused2 = true" ng-maxlength="50" required>
						<span ng-show="focused2 && !regForm.lname.$valid"><error>Please add Last Name</error></span>
						<span ng-show="focused2 && regForm.lname.$error.maxlength"><error>Last name is too long</error></span>
					</td>
					<td align="left">
						<span ng-show="regForm.lname.$touched && regForm.lname.$valid"><valid>&#10004;</valid></span>
						<span ng-show="regForm.lname.$touched && !regForm.lname.$valid"><error>&#10060;</error></span>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#" id="reset" ng-click='resetName()' class="btnicon" "/>
							<i class="fa fa-refresh fa-2x" aria-hidden="true" title="Reset"></i>
						</a>
						<a href="#" id="delete" ng-click='deleteAccount()' class="btnicon"/>
							<i class="fa fa-trash fa-2x" aria-hidden="true" title="Delete Account"></i>
						</a>
						<a href="#" id="update" ng-show="regForm.fname.$valid && regForm.lname.$valid" ng-click='updateName()' class="btnicon"/>
							<i class="fa fa-save fa-2x" aria-hidden="true" title="Update"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<headertext><br><br>Change Password</headertext>
					</td>
				</tr>
				<tr>
					<td align="left">
						Old Password:<br>
						<input type="password" id="oldPassword" name="oldPassword" ng-model="oldPassword" 
						required ng-blur="focused3 = false" ng-focus="focused3 = true">
						<span class="error" ng-show="!myForm.input.$valid">
						<span ng-show="focused3 && !regForm.password.$valid"><error>Please specify your password</error></span>
					</td>
					<td align="left">
					 	<span ng-show="regForm.oldPassword.$touched && oldPassword.length"><valid>&#10004;</valid></span>
						<span ng-show="regForm.oldPassword.$touched && !oldPassword.length"><error>&#10060;</error></span>
				
					</td>
				</tr>
				<tr style="background-color: white;">
					<td align="left">
						Password:<br>
						<input type="password" class="password" id="password" name="password" ng-model="password"
						ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,20}/";
						ng-blur="focused4 = false" ng-focus="focused4 = true"
						ng-minlength="6" ng-maxlength="20" required>
						<span class="error" ng-show="!myForm.input.$valid">
						<span ng-show="focused4 && !regForm.password.$valid"><error><br>6 to 20 characters, one numeric digit, one upper case letter, one lower case letter and a special character</error></span>
					</td>
					<td align="left">
					 	<span ng-show="regForm.password.$touched && regForm.password.$valid"><valid>&#10004;</valid></span>
				     	<span ng-show="regForm.password.$touched && !regForm.password.$valid"><error>&#10060;</error></span>
					</td>
				</tr>
				<tr>
					<td align="left">
						Confirm Password:<br>
						<input type="password" class="password" id="passwordConfirm" name="passwordConfirm" ng-model="passwordConfirm"
						ng-pattern="password"
						ng-blur="focused5 = false" ng-focus="focused5 = true"
						ng-minlength="6" ng-maxlength="20" ng-match="password" required>
						<span ng-show="focused5 && !regForm.passwordConfirm.$valid"><error>Passwords are not correct or don't match</error></span>
					</td>
					<td align="left">
						<span ng-show="regForm.passwordConfirm.$touched && regForm.passwordConfirm.$valid"><valid>&#10004;</valid></span>
				     	<span ng-show="regForm.passwordConfirm.$touched && !regForm.passwordConfirm.$valid"><error>&#10060;</error></span>
			
					</td>
				</tr>
				<tr style="background-color: white;">
					<td>
						<a href="#"" id="resetpwd" ng-click='reset()' value="Reset" class="btnicon"/>
							<i class="fa fa-refresh fa-2x" aria-hidden="true" title="Reset"></i>
						</a>
						<a href="#" id="updatepwd" ng-show="regForm.oldPassword.$valid && regForm.password.$valid && regForm.passwordConfirm.$valid && regForm.oldPassword.length && regForm.password.length && regForm.passwordConfirm.length" ng-click='updatePassword()' class="btnicon" />
							<i class="fa fa-save fa-2x" aria-hidden="true" title="Update Password"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
</form>
</body>
</html>