<!DOCTYPE html>
<html>
<script src="../lib/js/angular.min.js"></script>
<script src="../lib/js/angular-animate.min.js" ></script>
<script src="../lib/js/toaster.js"></script>
<script src="friends.controller.js"></script>
<script src="../lib/js/cookieGet.js"></script>

<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*">
	<meta charset="utf-8"/>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
	<link rel="stylesheet" href="../lib/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../lib/css/style.css">
</head>
	
<body ng-app="myAppName">
		
		<toaster-container 
  		toaster-options="{'time-out': 3000, 
        'position-class': 'toast-top-full-width','close-button':false}">
        </toaster-container>
        
	<div ng-controller="ContactController" class = "class-to-center">
		<form name="friendsForm">
		    <table class="nobackgroundtable">
		    	<thead> 
					<col width="200px" align="left">
					<col width="250px" align="left">
					<col width="150px" align="left">
				</thead>
		      	<tbody style="vertical-align: top;">
		      	<tr>
		    		<td colspan="3">
		    			<input type="text" id="searchForFriend" name="searchForFriend" ng-model="searchForFriend"
		    			ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
		      			ng-minlength="3" ng-maxlength="100" required placeholder="Your friend name or e-mail"
		      			ng-blur="focused1 = false" ng-focus="focused1 = true" 
		      			ng-model-options="{allowInvalid: true}" style="width: 203px; margin-top: 10px;margin-bottom: 10px;"/>
		        		<span ng-show="focused1 && !friendsForm.searchForFriend.$valid"><error><br>E-mail is incorrect to add a friend</error></span>
		  				<span ng-show="focused1 && friendsForm.searchForFriend.$error.maxlength"><error><br>E-mail is too long</error></span>
		  				<a href="#" id="sendRequest" ng-click="addFriend()" ng-show="friendsForm.searchForFriend.$valid && !friendsForm.contactsAmount.length" class="btnicon"> 
		  					<i class="fa fa-user-plus fa-2x" aria-hidden="true" title="Send Request"></i>
		  				</input>
		    			<a href="#" id="sendRequest" ng-click="addSubscription()" ng-show="friendsForm.searchForFriend.$valid && !friendsForm.contactsAmount.length" class="btnicon"> 
		  					<i class="fa fa-bookmark fa-2x" aria-hidden="true" title="Subscript"></i>
		  				</input>
		    		</td>
		  		</tr>
		  		</tbody>
			</table>
		</form>
		
		<div id="refreshForm" ng-show="autoRefeshStatus.length">
			<br>
			<hr>
			<error>{{autoRefeshStatus}}</error>  
			<input type="button" ng-click='autoRefresh()' value="Start refreshing" class="btn"/>
		</div>
		<hr>
		<headertext>Friendship Requests</headertext>
		<div ng-show="requestsAmount.length">
			<table class="backgroundtable">
				<thead> 
					<col width="50px" align="left">
					<col width="200px" align="left">
					<col width="200px" align="left">
					<col width="150px" align="left">
					<tr>
					    <th></th>
					    <th align="left">Name</th>
					    <th align="left">Email</th>
					    <th></th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr ng-repeat="request in friends|filter:searchForFriend|filter:{id_dictionary:'0'}|filter:{id_dictionary:'1'} as requestsAmount">
					 -->
					<tr ng-repeat="request in friends|filter:searchForFriend|filter:requestsFilter as requestsAmount">
					    <td align="left">
					    	<div ng-show = "request.avatar.length">
								<img src="{{request.avatar}}" style="padding-top: 2px;">
							</div>
							<div ng-show = "!request.avatar.length">
								<img src="../lib/img/anonimous.png" style="padding-top: 2px;"> 
							</div>
					    </td>
					    <td align="left">{{ request.first_name }} {{ request.last_name }}</td>
					    <td align="left">{{ request.email }}</td>
					    <td>
					    	<a href="#" ng-click="approveFriend(request.id_related_user)" >
							     <i class="fa fa-user-plus fa" aria-hidden="true" title="Approve Friendship"></i>
							</a>
							<a href="#" ng-click="approveSubscription(request.id_related_user)">
							     <i class="fa fa-bookmark fa" aria-hidden="true" title="Just Subscribe"></i>
							</a>
					        <a href="#" ng-click="ignoreFriend(request.id_related_user)">
							     <i class="fa fa-lock fa" aria-hidden="true" title="Ignore"></i>
							</a>
					    </td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div ng-show="!requestsAmount.length">
			You have no friendship requests... Sorry...
		</div>
		
		<hr>
		<div style="float:left; width:49%;">
			<br>
			<headertext>Friends</headertext>
			<div style="overflow-y: auto; overflow-x: hidden; height: 350px; width: 99%;">
				<table class="backgroundtable">
					<thead> 
						<col width="20%" align="left">
						<col width="70%" align="left">
						<col width="10%" align="left">
					</thead>
					<tbody>
						<tr ng-repeat="contact in friends|filter:searchForFriend|filter:friendsFilter as contactsAmount">
						<!-- <tr ng-repeat="contact in friends|filter:searchForFriend|filter:{
							friendsFilter({{contact.id_dictionary}}
							id_dictionary:'20'} 
						as contactsAmount">  -->
						    <td align="left">
					    		<div ng-show = "contact.avatar.length">
									<img src="{{contact.avatar}}" style="padding-top: 2px;">
								</div>
								<div ng-show = "!contact.avatar.length">
									<img src="../lib/img/anonimous.png" style="padding-top: 2px;"> 
								</div>
					    	</td>
					        <td align="left"> {{ contact.first_name }} {{ contact.last_name }}
						    	<br>
						    	{{ contact.email }}</td>
						    <td>
						    	<a href="#" ng-click="approveFriend(contact.id_related_user)" ng-show="{{contact.id_dictionary}} == '21'" >
							     	<i class="fa fa-user-plus fa" aria-hidden="true" title="Add Friendship"></i>
								</a>
								<a href="#" ng-click="approveFriend(contact.id_related_user)" ng-show="{{contact.id_dictionary}} == '23'">
							    	<i class="fa fa-user-plus fa" aria-hidden="true" title="Restore Friendship"></i>
								</a>
								<a href="#" ng-click="approveFriend(contact.id_related_user)" ng-show="{{contact.id_dictionary}} == '22'">
							    	<i class="fa fa-bookmark fa" aria-hidden="true" title="Just Subscribe"></i>
								</a>
								<a href="#" ng-click="ignoreFrendKeepSubscription(contact.id_related_user)" ng-show="{{contact.id_dictionary}} == '20'">
							    	<i class="fa fa-bookmark fa" aria-hidden="true" title="Ignore, nut keep subscripted"></i>
								</a>
								<a href="#" ng-click="ignoreFriend(contact.id_related_user)">
							     	<i class="fa fa-lock fa" aria-hidden="true" title="Ignore"></i>
								</a>
						    </td>
						</tr>
					</tbody>
				</table>  
				<div ng-show="!contactsAmount.length">
					You have no friends... Sorry...
				</div>
			</div>
		</div>	
		<br>
		
		<div style="float:left; width:2%;">
		</div>
		 
		<div style="float:right; width:49%;">
			<headertext>Ignored Users</headertext>
			<div style="overflow-y: auto; overflow-x: hidden; height: 350px; width: 99%;">
				<table class="backgroundtable">
					<thead> 
						<col width="20%" align="left">
						<col width="70%" align="left">
						<col width="10%" align="left">
					</thead>
					<tbody>
						<!-- 	<tr ng-repeat="ignored in friends" ng-if="request.id_dictionary == '30'" > -->
						<tr ng-repeat="ignored in friends|filter:searchForFriend|filter:ignoreFilter as ignoresAmount">
						    <td align="left">
					    		<div ng-show = "ignored.avatar.length">
									<img src="{{ignored.avatar}}" style="padding-top: 2px;">
								</div>
								<div ng-show = "!ignored.avatar.length">
									<img src="../lib/img/anonimous.png" style="padding-top: 2px;"> 
								</div>
					    	</td>
					        <td align="left"> {{ ignored.first_name }} {{ ignored.last_name }}
						    	<br>{{ ignored.email }}
						    </td>
						    <td>
						    	<a href="#" ng-click="restoreFriend(ignored.id_related_user)">
							    	<i class="fa fa-user-plus fa" aria-hidden="true" title="Restore Friendship"></i>
								</a>
								<a href="#" ng-click="restoreSubscription(ignored.id_related_user)">
							    	<i class="fa fa-bookmark fa" aria-hidden="true" title="Restore Subscribtion"></i>
								</a>
						    </td>
						</tr>
					</tbody>
				</table>
				<div ng-show="!ignoresAmount.length">
					You have no ignored friends...
				</div>
			</div>
		</div>
	</div>
</body>
</html>