<!DOCTYPE html>
<html>

<script src="../lib/js/angular.min.js"></script>
<script src="../lib/js/angular-resource.min.js"></script>
<script src="../lib/js/angular-animate.min.js" ></script>
<script src="../lib/js/toaster.js"></script>
<script src="../lib/js/ng-file-upload.min.js"></script>
<script src="../lib/js/ng-file-upload-shim.min.js"></script>
<script src="../lib/js/angular-sanitize.min.js"></script>
<script src="news.controller.js"></script>
<script src="../lib/js/cookieGet.js"></script>

<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*">
	<meta charset="utf-8"/>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
	<link rel="stylesheet" href="../lib/css/font-awesome.min.css">
	<!-- The main CSS file -->
	<link rel="stylesheet" type="text/css" href="../lib/css/style.css">
</head>
	
<body ng-app="myAppName">

    <toaster-container 
    toaster-options="{'time-out': 3000, 
    'position-class': 'toast-top-full-width','close-button':false}">
    </toaster-container>
    
<div ng-controller="NewsController" class = "class-to-center">
	<br>
	<div id="newsFeed" style="float:right; width:100%;">
		<div ng-keydown="down($event)" style="height:55px">
			<table class="nobackgroundtable">
				<tr>
					<th rowspan="2">
						<textarea id="newsText" placeholder="Input your message here. Use Ctrl + Enter to send your message" cols="40" rows="3" my-maxlength="3" ng-model="messageText" style="width: 99%; height: 44px;"></textarea>
					</th>
				</tr>
				<tr>
					<td>
						<a href="#" ng-click="sendMessage()">
				        	<i class="fa fa-paper-plane fa" aria-hidden="true" title="Add News"></i>
				        </a>
						<br>
						<a href="#" ng-click="uploadFile()">
				        	<i class="fa fa-upload fa" aria-hidden="true" title="Upload"></i>
				        </a>
				    </td>
				</tr>
			</table>
			<valid>{{sendMessageValid}}</valid>
		</div>
		<div id="refreshForm" ng-show="autoRefeshStatus.length">
			<error>{{autoRefeshStatus}}</error>  
			<input type="button" ng-click='autoRefresh()' value="Start refreshing" class="btn"/>
		</div>
		
		<div ng-show="showFileUpload == true">
			<br>
			<table class="sendFile" style="overflow-y: auto; overflow-x: hidden; height:60px; width:100%;">
				<tbody style="vertical-align: top;">
					<tr>
					    <td>
							<div 
							width = "100%"
							ngf-select="" 
							ngf-drop="" 
							ng-model="files" 
							class="drop-box"
							ngf-drag-over-class="{ accept:'dragover', reject:'dragover-err', delay:100}"  
							ngf-multiple="true" ngf-allow-dir="false"
							ngf-max-size="10MB" ngf-max-files="10" 
							accept="image/*,application/pdf" 
							ngf-pattern="'image/*,application/pdf'">
								Click here <b>OR</b> drag&drop pdfs or images
							</div>
					    	<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
					    
							<div ng-show="files.length>0">
						   		<div ng-repeat="f in files"> 
						   			<progressbar ng-show = "f.progressPercentage < 100"> 
						   				<bar style="width:{{f.progressPercentage}}%;">
						   					Upload: {{f.name | limitTo:50 }} {{f.$error}} {{f.$errorParam}} - {{ f.progressPercentage }}% completed
						  				</bar>
						  			</progressbar>
						  		</div>
					    	</div>
					    </td>
				    </tr>
				</tbody>
			</table>
			<br>
		</div>
		
		<div>
			<div style="height: 450px; overflow-y:auto">
				<table class="newsfeedtable" style="background-color: #dcffe0; width:100%">
					<tbody style="overflow-y: auto;">
						<tr ng-repeat="news in newsFeed | orderBy:'-created_date_text'">
						    <td align="left" ng-class='news'>
						    	<div>
						    		<table style="background-color:#a6e2ad;width:100%"> 
						    			<col width="20%">
						    			<col width="40%">
						    			<col width="40%">
						    			<tr>
						    				<td>
						    					<div ng-show = "news.avatar.length">
													<img src="{{news.avatar}}" style="padding-top: 2px;">
												</div>
												<div ng-show = "!news.avatar.length">
													<img src="../lib/img/anonimous.png" style="padding-top: 2px;"> 
												</div> 
						    				</td>
						    				<td>
						    					<b>{{ news.first_name }} {{ news.last_name }}</b>
						    				</td>
						    				<td>
						    			 		<b>{{news.created_date_text}}</b>
						    			 	</td>
						    		</table>
						    	</div>
						    	<br>
						    	<div ng-show="news.news_feed !=null" ng-bind-html="emoji(news.news_feed)">
						    	</div>
								<div ng-show="news.is_image == 0">
									<a href="#" ng-click="downloadFile(news.id_news_feed)">
										&#x21e9 {{ news.image_name }} ({{ news.image_length }} KB)
									</a>
								</div>
								<div ng-show="news.is_image == 1">
									<div class="content">
									<a href="#" ng-click="downloadFile(news.id_news_feed)" class="b-link-stripe b-animate-go  thickbox">
										<img data-ng-src="data:image/{{news.image_resolution}};base64,{{news.image_preview}}" style="margin-left: 63px;"/>
										<div class="b-wrapper-large">
											<div class="b-animate b-from-left b-delay03 " style="background-color:#cfebd2">
												<i></i>
											</div>
										</div>
									</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div ng-show="!newsFeed.length">
									Your News Feed is empty...<br>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>	
</div>
</body>
</html>