<!DOCTYPE html>
<html>

<script src="../lib/js/angular.min.js"></script>  
<script src="../lib/js/angular-animate.min.js" ></script>
<script src="../lib/js/toaster.js"></script>
<script src="login.controller.js"></script>
<script src="../lib/js/cookiePost.js"></script>

<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*">
		<meta charset="utf-8"/>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../lib/css/style.css">
		<title>Small Talk Chat</title>
	<link rel="SHORTCUT ICON" href="../lib/img/simplechat.ico" />
	<link rel="icon" href="../lib/img/simplechat.ico" type="image/ico" />
</head>

<body ng-app="login">
<toaster-container 
    toaster-options="{'time-out': 3000, 
    'position-class': 'toast-top-full-width','close-button':false}">
</toaster-container>

<form name="regForm">
	<div ng-controller="LoginController" class = "class-to-center-login" ng-keydown="$event.which === 13  && login()">
		<table class= "nobackgroundtable">
			<thead>
				<tr>
				<th align="center">Login</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td align="left">
						<input type="email" id = "email" name="email" ng-model="email" placeholder='E-mail'
						ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" 
						ng-blur="focused1 = false" ng-focus="focused1 = true"
			       		ng-minlength="1" ng-maxlength="100" required>
			       		<span ng-show="focused1 && !regForm.email.$valid"><error><br>E-mail is incorrect</error></span>
			  			<span ng-show="focused1 && regForm.email.$error.maxlength"><error><br>E-mail is too long</error></span>
			  		</td>
			  		<td align="left">
			  			<span ng-show="!regForm.email.$error.required && regForm.email.$valid"><valid>&#10004;</valid></span>
		  				<span ng-show="!regForm.email.$valid"><error>&#10060;</error></span>
			  		</td>
				</tr>
				<tr>
			  		<td align="left">
						<input type="password" class="password" id="password" name="password" ng-model="password" placeholder='Password' 
						ng-blur="focused2 = false" ng-focus="focused2 = true" ng-minlength="1" required>
						<span ng-show="focused2 && regForm.password.$error.required"><error><br>Password is empty</error></span>
			  		</td>
			  		<td align="left">
			  			<span ng-show="password.length"><valid>&#10004;</valid></span>
		  				<span ng-show="!password.length"><error>&#10060;</error></span>
			  		</td>
				</tr>
				<tr>
					<td align="right">
						<br>
						<input id = "loginbutton" name="loginbutton" type="button" ng-disabled="regForm.$invalid" ng-click='login()' value="Login" class="btn" style = "width: 100%"/>
						<br>
						<br>
						<!--  <input id = "restorebutton" name="restorebutton" type="button" ng-disabled="regForm.email.$invalid" ng-click='restorePassword()' value="Restore Password" class="btn" style = "width: 100%"/>	-->
			 		</td>
				</tr>
				<tr>
					<td align="center"> <a href="../registration/registration.view.html">Register Here</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
</body>
</html>
