<!DOCTYPE html>
<html>
<script src="../lib/js/angular.min.js"></script>   
<script src="../lib/js/angular-animate.min.js" ></script>
<script src="../lib/js/toaster.js"></script>
<script src="registration.controller.js"></script>

<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*");>
<link rel="stylesheet" type="text/css" href="../lib/css/style.css">
<title>Small Talk Chat</title>
<link rel="SHORTCUT ICON" href="../lib/img/simplechat.ico" />
<link rel="icon" href="../lib/img/simplechat.ico" type="image/ico" />
</head>

<body ng-app="scopeRegistration">

<toaster-container 
    toaster-options="{'time-out': 3000, 
    'position-class': 'toast-top-full-width','close-button':false}">
</toaster-container>
                		
<form name="regForm" ng-submit="vm.register()" role="form">
	<div ng-controller="RegController" class = "class-to-center-login" ng-keydown="$event.which === 13  && register()">
		<table class= "nobackgroundtable">
			<col width="250px">
			<col width="10px">
			<thead>
				<tr>
					<th>Registration Form</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				</tr>
				<tr>
					<td align="left" style="width: 200px;">
						<input type="field" id="fname" name="fname" ng-model="fname" placeholder='First Name' ng-minlength="1" ng-maxlength="45" ng-blur="focused1 = false" ng-focus="focused1 = true" required>
						<span ng-show="focused1 && regForm.fname.$error.required"><error>Please add First Name</error></span>
		  				<span ng-show="focused1 && regForm.fname.$error.maxlength"><error>First name is too long</error></span>
					</td>
					<td align="left" style="width: 200px;">
						<span ng-show="!regForm.fname.$error.required && !regForm.fname.$error.maxlength"><valid>&#10004;</valid></span>
						<span ng-show="(regForm.fname.$error.required && !regForm.fname.$error.maxlength)"><error>&#10060;</error></span>
		  			</td>
				</tr>
				<tr>
					<td align="left">
						<input type="field" id="lname" name="lname" ng-model="lname" placeholder='Last Name' ng-minlength="1" ng-maxlength="50" ng-blur="focused2 = false" ng-focus="focused2 = true"  required>
						<span ng-show="focused2 && regForm.lname.$error.required"><error>Please add Last Name</error></span>
		  				<span ng-show="focused2 && regForm.lname.$error.maxlength"><error>Last name is too long</error></span>
					</td>
					<td align="left">
						<span ng-show="!regForm.lname.$error.required && !regForm.lname.$error.maxlength"><valid>&#10004;</valid></span>
						<span ng-show="(regForm.lname.$error.required || regForm.lname.$error.maxlength)"><error>&#10060;</error></span>
		  			</td>
				</tr>
				<tr>
					<td align="left">
						<input type="email" id="email" name="email" ng-model="email" placeholder='E-mail'
						ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" 
						ng-blur="focused3 = false" ng-focus="focused3 = true"
		    	 		ng-minlength="1" ng-maxlength="100" required>
		    	 		<span ng-show="focused3 && !regForm.email.$valid"><error>E-mail is incorrect</error></span>
		  				<span ng-show="focused3 && regForm.email.$error.maxlength"><error>E-mail is too long</error></span>
		   			</td>
		  			<td align="left">
		  				<span ng-show="!regForm.email.$error.required && regForm.email.$valid"><valid>&#10004;</valid></span>
		  				<span ng-show="!regForm.email.$valid"><error>&#10060;</error></span>
		  			</td>
				</tr>
				<tr>
					<td align="left">
						<input type="password" id="password" name="password" ng-model="password" placeholder='Password'
						ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,20}/";
						ng-blur="focused4 = false" ng-focus="focused4 = true"
						ng-minlength="6" ng-maxlength="20" required>
						<span ng-show="focused4 && !regForm.password.$valid"><error>6 to 20 characters, one numeric digit, one upper case letter, one lower case letter and a special character</error></span>
		  			</td>
					<td align="left">
					 	<span ng-show="regForm.password.$valid"><valid>&#10004;</valid></span>
					 	<span ng-show="!regForm.password.$valid"><error>&#10060;</error></span>
		  			</td>
				</tr>
				<tr>
					<td align="left">
						<input type="password" id="passwordConfirm" name="passwordConfirm" ng-model="passwordConfirm" placeholder="Confirm Password" 
						ng-pattern="password";
						ng-blur="focused5 = false" ng-focus="focused5 = true"
						ng-minlength="6" ng-maxlength="20" required>
						<span ng-show="focused5 && !regForm.passwordConfirm.$valid" ><error>Passwords are not correct or don't match</error></span>
					</td>
					<td align="left">
						<span ng-show="!regForm.passwordConfirm.$error.required && regForm.passwordConfirm.$valid"><valid>&#10004;</valid></span>
		  				<span ng-show="regForm.passwordConfirm.$error.required && !regForm.passwordConfirm.$valid"><error>&#10060;</error></span>

		  			</td>
				</tr>
				<tr>
					<td>
						<br>
						<input type="button" id="register" ng-disabled="!regForm.$valid" ng-click='register()' value="Register" class="btn" style="width: 164.85px;"/>
						<br>
					</td>
				</tr>
				<tr>
					<td align="center">
						<a href="../login/login.view.html">Already registered</a>
					</td>
		    	</tr>
			</tbody>
		</table>
	</div>
</form>
</body>
</html>